<mat-card>
    <div class="container">
        <div class="left-column">
            <datepicker></datepicker>
        </div>
        <div class="right-column">
            <div><p>Enter your initial investment: </p></div>
            <mat-form-field appearance="outline">
                <input matInput [(ngModel)]="initialInvestment" placeholder="$ Amount">
            </mat-form-field>
            <div><p>Best Load Price: </p></div>
            <mat-form-field appearance="outline">
                <input matInput [value]="" readonly placeholder="$">
            </mat-form-field>
            <div><p>Best Sell Price: </p></div>
            <mat-form-field appearance="outline">
                <input matInput [value]="" readonly placeholder="$">
            </mat-form-field>
            <button mat-flat-button color="accent" (click)="submitData()">Submit</button>
        </div>
    </div>
</mat-card>