<mat-card>
    <div class="container">
        <div class="left-column">
            <datepicker></datepicker>
        </div>
        <div class="right-column">
            <mat-form-field appearance="outline">
                <mat-label>Initial Investment</mat-label>
                <input matInput placeholder="Enter amount">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Buy Price</mat-label>
                <input matInput placeholder="Enter buy price">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Sell Price</mat-label>
                <input matInput placeholder="Enter sell price">
            </mat-form-field>
        </div>
    </div>
</mat-card>
